{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>
<table class="table">
    <thead>
        <tr>
            <th>اقدام</th>
            <th>مدل</th>
            <th>ID شیء</th>
            <th>کاربر</th>
            <th>زمان</th>
            <th>جزئیات</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.action }}</td>
            <td>{{ log.model_name }}</td>
            <td>{{ log.object_id }}</td>
            <td>{{ log.user|default:"نامشخص" }}</td>
            <td>{{ log.timestamp|date:"Y-m-d H:i" }}</td>
            <td><a href="{% url 'audit_log_detail' log.id %}">مشاهده تغییرات</a></td>
        </tr>
        {% empty %}
        <tr><td colspan="6">هیچ لاگی موجود نیست.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}