{% extends 'layout/base.html' %}


{% block title %}بازنشانی رمز عبور{% endblock %}

{% block content %}
    <h2>بازنشانی رمز عبور</h2>
    {% if validlink %}
        <p>لطفاً رمز عبور جدید خود را وارد کنید.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">تغییر رمز عبور</button>
        </form>
    {% else %}
        <p>لینک بازنشانی نامعتبر است. لطفاً دوباره درخواست بازنشانی کنید.</p>
        <a href="{% url 'accounts:password_reset' %}">درخواست جدید</a>
    {% endif %}
{% endblock %}